#banner {
  background-color: #efa64d;
  height: 100vh;
  width: 100vw;
}

.bannerInfo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 8rem;
}

.bannerGraphic {
  display: block;
  z-index: 100;
  position: absolute;
  max-width: 750px;
  height: auto;
}

.wavyEdge {
  z-index: -1
}
