#banner {
  background-color: #efa64d;
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bannerInfo {
  color: #fff;
  font-weight: bold;
  padding: 8rem 8rem 0;
}

.bannerInfo h1 {
  font-size: 3rem;
  font-weight: 800;
}

.bannerGraphic {
  display: block;
  z-index: 1;
  max-width: 650px;
  height: auto;
  margin-top: 20px;
}

#banner > div > .btn {
  width: 150px;
  border-radius: 2rem;
  border: solid 3px #fff;
  background-color: #fff;
  color: #efa64d;
}

#banner > div > .btn:hover {
  background: transparent;
  color: #fff;
}

@media (max-width: 400px) {
  .bannerInfo {
    padding: 8rem 0 0;
  }
}
